<% content_for :title, "Projects" %>

<div class="w-full mt-16 p-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">
      Projects
      (<%= @projects.count %>/10)
    </h1>
    <% if @current_user && @current_user.projects.count < 10 %>
      <%= link_to "New project", new_project_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
    <% end %>
  </div>

  <div id="projects" class="min-w-full space-y-5">
    <% if @projects.any? %>
      <% @projects.each do |project| %>
        <%= link_to edit_project_path(project), class: "block rounded-xl bg-white p-4 m-3 ring-2 ring-gray-100 hover:ring-indigo-200 sm:p-6 lg:p-8" do %>
          <span class="flex items-start sm:gap-8">
            <span class="hidden sm:grid sm:size-20 sm:shrink-0 sm:place-content-center" aria-hidden="true">
              <%= image_tag "/icon.svg" %>
            </span>

            <span>
              <strong class="rounded-sm border border-indigo-500 bg-indigo-500 px-3 py-1.5 text-[10px] font-medium text-white">
                Project
              </strong>

              <h3 class="mt-4 text-lg font-medium sm:text-xl">
                <%= project.title %>
              </h3>

              <p class="mt-1 text-sm text-gray-700">
                Last updated: <%= project.updated_at %>
              </p>
            </span>
          </span>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No projects found.</p>
    <% end %>
    <% if @invitations.present? %>
      <h1 class="font-semibold text-3xl my-2">Invitation codes</h1>
      <ul>
        <% @invitations.each do |invitation| %>
          <li><code class="p-2 rounded-sm bg-blue-100 text-blue-900"><%= invitation.code %></code></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
